// # Start of Bulma/Buefy specifics
// refs:
// - https://buefy.org/documentation/customization/
// - https://bulma.io/documentation/customize/with-node-sass/#6-add-your-own-bulma-styles
// - https://bulma.io/documentation/customize/variables/

// Import Bulma basics
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/initial-variables.sass";

// Set your colors
$primary: #283E96;
$secondary: #009DA5;
$role: $secondary;
$role-invert: findColorInvert($role);
$custom-colors: (
  "role": ($role, $role-invert)
);

// Links
$link: $primary;
$link-focus-border: $primary;

// Fonts
$body-family: "Open Sans";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
// # End of Bulma/Buefy specifics


// Fixes
@import "scrollbar_fix";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxanium&display=swap");

// Headings
h1, .content h1,
h2, .content h2,
h3, .content h3,
h4, .content h4,
h5, .content h5 {
  color: rgba(0, 0, 0, 0.75);
  font-family: "Oxanium", sans-serif;
}

h1, .content h1 {
  color: rgba(0, 0, 0, 0.67);
}

// Swagger UI fixes
.swagger-ui {
  pre.version {
    background: transparent;
  }
  .opblock-tag-section { // some other CSS we have interferes with this...
    overflow: hidden;
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a { // hashtags in titles
  color: #777;
  font-weight: 400;
  margin-right: 4px;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 15px;
}

:root {
  --primary: #{$primary};
  --role-color: #{$role};
}

@import "mobile-frame";
