// reference: https://buefy.org/documentation/customization/

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #009DA5;
$primary-invert: findColorInvert($primary);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

@import "scrollbar_fix";

// Headings
h1, .content h1,
h2, .content h2,
h3, .content h3,
h4, .content h4,
h5, .content h5 {
  color: rgba(0, 0, 0, 0.75);
  font-family: "Quicksand", sans-serif;
}

h1, .content h1 {
  color: rgba(0, 0, 0, 0.67);
}

// Swagger UI fixes 
#swagger-ui {
  pre.version {
    background: transparent;
  }
  .opblock-tag-section { // some other CSS we have interferes with this...
    overflow: hidden;
  }
}
