// reference: https://buefy.org/documentation/customization/

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #009DA5;
$primary-invert: findColorInvert($primary);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
